<a href="https://colab.research.google.com/github/yallavaibhav/Comic-AudioBooks/blob/vaibhav/Sorting_for_Characters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 56 0.549219 0.442969 0.129688 0.0796875
# 56 0.485938 0.680469 0.10625 0.110937
# 56 0.550781 0.764063 0.132812 0.065625
# 50 0.735156 0.7375 0.129688 0.128125
# 56 0.188281 0.392969 0.173438 0.129688

In [3]:
import pandas as pd

In [7]:
df = pd.DataFrame({
    'class': [56, 56, 56, 50, 56],
    'x_center': [0.549219, 0.485938, 0.550781, 0.735156, 0.188281],
    'y_center': [0.442969, 0.680469, 0.764063, 0.7375, 0.392969]
})

In [8]:
df

   class  x_center  y_center
0     56  0.549219  0.442969
1     56  0.485938  0.680469
2     56  0.550781  0.764063
3     50  0.735156  0.737500
4     56  0.188281  0.392969

In [9]:
kf = df.sort_values(by = ['y_center'])

In [10]:
kf

   class  x_center  y_center
4     56  0.188281  0.392969
0     56  0.549219  0.442969
1     56  0.485938  0.680469
3     50  0.735156  0.737500
2     56  0.550781  0.764063

In [17]:
sx = df.values.tolist()

In [18]:
sx.sort(key=lambda x:x[2])

In [19]:
sx

[[56.0, 0.188281, 0.392969],
 [56.0, 0.549219, 0.442969],
 [56.0, 0.485938, 0.680469],
 [50.0, 0.735156, 0.7375],
 [56.0, 0.550781, 0.764063]]

In [21]:
x = []
y = []
k = 0
for i in range(len(sx)):
  if sx[i][1] < sx[k][1]+0.2:
    x.append(sx[i])
    print(x)
  else:
    x.sort()
    for j in range(len(x)):
      y.append(x[j])
    print(y)
    x = []
    print(x)
    x.append(sx[i])
    k=i
x.sort()
for p in range(len(x)):
  y.append(x[p])

[[56.0, 0.188281, 0.392969]]
[[56.0, 0.188281, 0.392969]]
[]
[[56.0, 0.549219, 0.442969], [56.0, 0.485938, 0.680469]]
[[56.0, 0.549219, 0.442969], [56.0, 0.485938, 0.680469], [50.0, 0.735156, 0.7375]]
[[56.0, 0.549219, 0.442969], [56.0, 0.485938, 0.680469], [50.0, 0.735156, 0.7375], [56.0, 0.550781, 0.764063]]

In [22]:
print(y)

[[56.0, 0.188281, 0.392969], [50.0, 0.735156, 0.7375], [56.0, 0.485938, 0.680469], [56.0, 0.549219, 0.442969], [56.0, 0.550781, 0.764063]]

In [24]:
dff = pd.DataFrame(y)

In [25]:
dff

      0         1         2
0  56.0  0.188281  0.392969
1  50.0  0.735156  0.737500
2  56.0  0.485938  0.680469
3  56.0  0.549219  0.442969
4  56.0  0.550781  0.764063